* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.last {
  border: none !important;
}
@media only screen and (min-width: 1824px) {
  /* Styles */
  .container {
    width: 1770px;
    margin: 10px auto;
  }
  .container .logo {
    background-color: #ce2f2f;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    float: left;
  }
  .container .header {
    background-color: #5dcee2;
    margin-top: 5px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card {
    display: inline-block;
    float: left;
    border-right: 7px solid white;
    width: 33.33333333%;
  }
  .container .card .card-header {
    background-color: #c6c6c6;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 5px 0px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card .card-body {
    background-color: #d8d8d8;
    height: 300px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    display: block;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1823px) {
  /* Styles */
  .container {
    width: 1150px;
    margin: 10px auto;
  }
  .container .logo {
    background-color: #ce2f2f;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    float: left;
  }
  .container .header {
    background-color: #5dcee2;
    margin-top: 5px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card {
    display: inline-block;
    float: left;
    border-right: 4px solid white;
    width: 33.33333333%;
  }
  .container .card .card-header {
    background-color: #c6c6c6;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 5px 0px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card .card-body {
    background-color: #d8d8d8;
    height: 300px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    display: block;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1199px) {
  /* Styles */
  .container {
    width: 600px;
    margin: 10px auto;
  }
  .container .logo {
    background-color: #ce2f2f;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    float: none;
  }
  .container .header {
    background-color: #5dcee2;
    margin-top: 5px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card {
    display: inline-block;
    float: left;
    border-right: 4px solid white;
    width: 50%;
  }
  .container .card .card-header {
    background-color: #c6c6c6;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 5px 0px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card .card-body {
    background-color: #d8d8d8;
    height: 300px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    display: block;
  }
  .container .hide-last {
    display: none;
  }
}
@media only screen and (max-width: 640px) and (min-width: 300px) {
  /* Styles */
  .container {
    width: 280px;
    margin: 10px auto;
  }
  .container .logo {
    background-color: #ce2f2f;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    float: none;
  }
  .container .header {
    background-color: #5dcee2;
    margin-top: 5px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card {
    display: inline-block;
    float: none;
    border-right: 0px solid white;
    width: 100%;
  }
  .container .card .card-header {
    background-color: #c6c6c6;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 5px 0px;
    width: 100%;
    border-radius: 10px;
  }
  .container .card .card-body {
    background-color: #d8d8d8;
    height: 300px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */