
//properties

@red:#ce2f2f;
@cyan:#5dcee2;
@gray:#c6c6c6;
@lightGray:#d8d8d8;
@radius:10px;
@margin:10px;
@cardHeight:300px;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.boxSize(@size){
  width: @size;
  margin: @margin auto;
}

.clear{
  clear: both;
}

.last{
  border:none !important;
}


.logo(@width,@height,@float){
  background-color: @red;
  height: @height;
  width: @width;
  border-radius:@radius;
  float: @float;
}

.header(@width, @height){
  background-color: @cyan;
  margin-top: @margin / 2;
  height: @height;
  width: @width;
  border-radius:@radius;
}

.card(@width,@divisor,@display,@float,@border){
  display: inline-block;
  float: @float;
  border-right: @border solid white;
  width: @width / @divisor;
  .card-header{
    background-color: @gray;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: @margin/2 0px;
    width: 100%;
    border-radius: @radius;

  }
  .card-body{
    background-color: @lightGray;
    height: 300px;
    text-align: justify;
    width: 100%;
    overflow:hidden;
    border-radius: @radius;
    padding: 10px;
    display: @display;

  }
}

//media queries


@media only screen  and (min-width : 1824px) {
  /* Styles */
  .container{
    .boxSize(1770px);
    .logo{
      .logo(400px,50px,left);
    }
    .header{
      .header(100%,200px);
    }
    .card{
      .card(100%,3,block,left,7px);
    }
  }
}

@media only screen  and (min-width : 1200px) and (max-width: 1823px) {
  /* Styles */
  .container{
    .boxSize(1150px);
    .logo{
      .logo(200px,50px,left);
    }
    .header{
      .header(100%,200px);
    }
    .card{
      .card(100%,3,block,left,4px);
    }
  }
}

@media only screen  and (min-width : 641px) and (max-width: 1199px) {
  /* Styles */
  .container{
    .boxSize(600px);
    .logo{
      .logo(100%,50px,none);
    }
    .header{
      .header(100%,200px);
    }
    .card{
      .card(100%,2,block,left,4px);
    }
    .hide-last{
      display: none;
    }
  }
}

@media only screen  and (max-width: 640px) and (min-width: 300px) {
  /* Styles */
  .container{
    .boxSize(280px);
    .logo{
      .logo(100%,50px,none);
    }
    .header{
      .header(100%,200px);
    }
    .card{
      .card(100%,1,none,none,0px);
    }
  }
}

